---
import TagButton from "@components/TagButton.astro";

interface Props {
  publication: Date;
  author: string;
  minutesRead: string;
  tags: string[];
}

const formatter = new Intl.DateTimeFormat("en-US", {
  month: "short",
  day: "2-digit",
  year: "numeric"
});

const { publication, author, minutesRead, tags } = Astro.props;
---

<hgroup class="not-prose flex justify-between">
  <div>
    <time datetime={publication.toString()}>{formatter.format(publication)}</time>
    &bull; {minutesRead}
    <address>{author}</address>
  </div>
  <menu class="flex items-center space-x-4">
    {tags.map(tag => <TagButton tag={tag} />)}
  </menu>
</hgroup>
